extends layout

block content
	div.container(ng-controller="BoardCtrl")
		h1 Tic Tac Toe
		
		div.board
			button.reset(ng-click="reset()") Reiniciar juego
			.line(ng-class="lineClass")
				svg(version="1.1",id="Layer_1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",width="300px",height="300px", viewBox="0 0 300 300", enable-background="new 0 0 300 300", xml:space="preserve")
					path(d="M147.533,5.539c0.297,11.069-1.976,21.923-3.266,32.869c-1.427,12.112-0.866,24.521-0.426,36.679 c0.436,12.067,1.141,24.036,2.501,36.038c1.349,11.908,2.834,23.79,3.102,35.784c0.272,12.207-0.94,24.511-1.398,36.71 c-0.46,12.271-0.755,24.546-0.925,36.823c-0.339,24.346,0.412,48.667,0.412,73.008c0,3.225,5,3.225,5,0 c0-23.693-0.707-47.37-0.437-71.069c0.279-24.528,2.318-49.071,2.367-73.58c0.024-11.976-1.53-23.919-2.905-35.794 c-1.389-11.994-2.158-23.933-2.643-35.992c-0.492-12.224-0.938-24.587,0.161-36.789c1.046-11.612,3.771-22.965,3.457-34.688 C152.447,2.321,147.447,2.312,147.533,5.539L147.533,5.539z", stroke="#000", stroke-width="4.3", fill="none", stroke-dasharray="592.4866943359375 592.4866943359375", stroke-dashoffset="592.4866943359375")

			div.square.top.left(ng-click="newMove(0)", ng-class="{active: winnerPositions[0]}") {{squareContent[0]}}
			div.square.top.center(ng-click="newMove(1)", ng-class="{active: winnerPositions[1]}") {{squareContent[1]}}
			div.square.top.right(ng-click="newMove(2)", ng-class="{active: winnerPositions[2]}") {{squareContent[2]}}
			div(style="clear: both")
			div.square.middle.left(ng-click="newMove(3)", ng-class="{active: winnerPositions[3]}") {{squareContent[3]}}
			div.square.middle.center(ng-click="newMove(4)", ng-class="{active: winnerPositions[4]}") {{squareContent[4]}}
			div.square.middle.right(ng-click="newMove(5)", ng-class="{active: winnerPositions[5]}") {{squareContent[5]}}
			div(style="clear: both")
			div.square.bottom.left(ng-click="newMove(6)", ng-class="{active: winnerPositions[6]}") {{squareContent[6]}}
			div.square.bottom.center(ng-click="newMove(7)", ng-class="{active: winnerPositions[7]}") {{squareContent[7]}}
			div.square.bottom.right(ng-click="newMove(8)", ng-class="{active: winnerPositions[8]}") {{squareContent[8]}}
				
		div(style="clear: both")
		div.winner(ng-show="isWinner") Ganador  <span>{{winner}}</span> !!
		div.draw(ng-show="isDraw") Empate :(