body{
	font-family: 'Indie Flower', cursive;
}

.container{
	position: relative;
	margin: 0 auto;
	text-align: center;
}

h1{
	margin-bottom: 70px;
}

.reset{
	font-family: 'Indie Flower', cursive;
	background: white;
	font-size: 22px;
	border: 1px solid;
	border-radius: 10px;
	margin-bottom: 40px;

	/*El boton se posiciona de forma absoluta porque la linea SVG que sobre el boton y no se puede acceder a él*/
	position: absolute;
	top: 50px;
	z-index: 1000;
	left: 330px;
}

.board{
	position: relative;
	margin: 0 auto;
	width: 307px;
	height: 300px;
}

.line{
	visibility: hidden;
	width: 300px;
	height: 300px;
	position: absolute;
}

.line > svg > path{
	-webkit-transition: stroke-dashoffset 1s ease-in-out;
	-moz-transition: stroke-dashoffset 1s ease-in-out;
	-o-transition: stroke-dashoffset 1s ease-in-out;
	transition: stroke-dashoffset 1s ease-in-out;
}

.line.active{
	visibility: visible;
}

.line.active > svg > path{
	stroke-dashoffset: 310;
}

.line.combination-0{
	-webkit-transform: rotate(90deg);
	top: -100px;
	left: 0;
}

.line.combination-1{
	-webkit-transform: rotate(90deg);
	top: 0;
	left: 0;
}

.line.combination-2{
	-webkit-transform: rotate(90deg);
	top: 100px;
	left: 0;
}

.line.combination-3{
	-webkit-transform: rotate(0deg);
	top: 0;
	left: -100px;
}

.line.combination-4{
	-webkit-transform: rotate(0deg);
	top: 0;
	left: 0;
}

.line.combination-5{
	-webkit-transform: rotate(0deg);
	top: 0;
	left: 100px;
}

.line.combination-6{
	-webkit-transform: rotate(140deg);
	top: 0;
	left: 0;
}

.line.combination-7{
	-webkit-transform: rotate(40deg);
	top: 0;
	left: 0;
}

.square{
	float: left;
	width: 100px;
	height: 100px;
	font-size: 80px;
	text-align: center;
	cursor: pointer;

	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;

	-webkit-border-image: url(border.png) 30 30 stretch;
	-moz-border-image: url(border.png) 30 30 stretch;
	-o-border-image: url(border.png) 30 30 stretch;
	border-image: url(border.png) 30 30 stretch;

	box-sizing: border-box;
	margin-right: -4px;
}

.square.active{
	background: #eee;
}

.square.middle{
	margin-top: -4px;
}

.square.bottom{
	margin-top: -4px;	
}

.square.top{
	border-top: 0;
}

.square.bottom{
	border-bottom: 0;
}

.square.left{
	border-left: 0;
}

.square.right{
	border-right: 0;
}

.winner{
	font-size: 30px;
	margin-top: 20px;
}

.winner span{
	font-size: 50px;
	font-weight: bold;
}

.draw{
	font-size: 30px;
	margin-top: 20px;
}
